/* WelfareDetailPage.module.css */

.pageWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin-top: 60px;
  margin-bottom: 150px;
}

.fixedIcons {
  position: fixed;
  right: 16px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.fixedIcons img {
  width: 48px;
  height: 48px;
}

.scrollContent {
  flex: 1;
  overflow-y: scroll; /* 기존 auto를 scroll로 변경 */
  padding: 20px 16px 100px;
  margin-bottom: 60px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.topBar {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  border-bottom: 1px solid #ccc;
}
.headerTitle{
      font-size: 17px;
  font-weight: normal;
  margin-bottom: 16px;
  justify-content: center;
  margin-left: 110px;
}

.backIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 12px;
  margin-left: 12px;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
  
}

.keywordList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}

.keyword {
  background-color: #eaf0fe;
  color: #0f0f0f;
  padding: 8px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 500;
}

.section {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.labelRow {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 8px;
}

.ellipse {
  width: 12px;
  height: 12px;
}

label {
  font-weight: 600;
  font-size: 15px;
}

input,
select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  margin-top: 6px;
}

.radioRow {
  display: flex;
  gap: 12px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.radioRow button {
  flex: 1;
  padding: 12px 0;
  background-color: #EDEDED;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.confirmButton {
  width: 100%;
  background-color: #B3D8FF;
  padding: 14px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: #ffffff;
}